@use "common" as *;

.section-title {
    .sub-title {
        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #505050;
            @media #{$max-lg} {
                font-size: 18px;
            }
        }
    }

    .title {
        position: relative;
        z-index: 1;
        h2 {
            font-weight: 700;
            font-size: 44px;
            line-height: 1.4;
            color: #161b2d;
            margin-bottom: 0;

            @media #{$max-lg} {
                font-size: 32px;
            }
            @media #{$max-md} {
                font-size: 28px;
            }
        }
    }
}
