@use "common" as *;

// Blog Grid Section

.breadcrumb-section {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.page-title-content {
  .title {
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    color: #ffffff;
    margin-bottom: 30px;
    @include mq(lg) {
      font-size: 36px;
      line-height: 50px;
    }
    @include mq(md) {
      font-size: 28px;
      line-height: 50px;
    }
    @include mq(xs) {
      font-size: 24px;
      line-height: 40px;
    }
  }

  .breadcrumb-menu {
    background: #245d51;
    border-radius: 6px;
    padding: 14px 30px;
    display: inline-block;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;

      li {
        color: #ffffff;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        &:after {
          content: "/";
          margin-left: 5px;
          margin-right: 5px;
        }

        &:last-child {
          font-weight: 700;

          &:after {
            display: none;
          }
        }

        a {
          color: #ffffff;

          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }
}

// Course Grid Section

.course-category-wrap {
  padding: 40px 16px;
  background: #f8fafa;
  box-shadow: 5px 15px 45px 0px rgba(22, 27, 45, 0.05);
  border-radius: 6px;
  @include transition(0.3s);
  margin-bottom: 30px;

  &:hover {
    background: $theme-color-2;

    .icon {
      img {
        filter: brightness(0) invert(1);
      }
    }

    .content {
      h4 {
        color: #fff;

        a {
          color: #fff;
        }
      }

      p {
        color: #fff;
      }
    }
  }

  .icon {
    margin-bottom: 30px;
  }

  .content {
    h4 {
      margin-bottom: 19px;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #161b2d;
      @include transition(0.3s);

      a {
        color: #161b2d;
      }
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #505050;
      @include transition(0.3s);
    }
  }
}

// Course list Section

.sidebar-wrap {
  padding-top: 40px;
  background: #ffffff;
  box-shadow: 5px 15px 30px 10px rgba(22, 27, 45, 0.03);

  &.sidebar-wrap-right {
    margin-left: auto;
  }
}

.widget-wrapper {
  .search-form {
    .input-wrap {
      position: relative;
      z-index: 1;

      input {
        background: #f7f7f7;
        border: none;
        padding: 15px 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #505050;
        width: 100%;
        border-radius: 50px;
        @include placeholder() {
          color: #505050;
        }

        &:focus {
          @include placeholder() {
            color: transparent;
          }
        }
      }

      button {
        position: absolute;
        right: 5px;
        top: 50%;
        width: 40px;
        height: 40px;
        border: none;
        color: #ffffff;
        background: linear-gradient(0deg, #ff4e59, #ff4e59), #d9d9d9;
        border-radius: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
      }
    }
  }

  .sidebar-widget-wrap {
    padding-right: 40px;
    padding-left: 40px;
    @media #{$max-lg} {
      padding-left: 20px;
      padding-right: 20px;
    }

    .widget-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #161b2d;
      margin-bottom: 30px;
      @include mq(xs) {
        font-size: 20px;
      }
    }
  }

  .widget-social-icon {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    padding-bottom: 40px;

    a {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(#245d51, 0.1);

      i {
        color: #245d51;
      }

      &:hover {
        background: rgba(#245d51, 0.1);
      }
    }
  }

  .widget-content {
    .widget-content-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #505050;
      max-width: 390px;
      margin-bottom: 33px;
    }

    .category-list {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #505050;

            i {
              font-size: 18px;
              margin-right: 15px;
              color: #ff4e59;
            }

            b {
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: #ff4e59;
              background: rgba(#ff4e59, 0.1);
              border-radius: 4px;
              padding: 3px 6px;
            }
          }
        }
      }
    }

    .contact-list {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #505050;
            display: flex;
            align-items: center;

            i {
              font-size: 18px;
              margin-right: 15px;
              color: #ff4e59;
            }

            span {
              float: right;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: #ff4e59;
              background: rgba(#ff4e59, 0.1);
              border-radius: 4px;
              padding: 3px 6px;
            }
          }
        }
      }
    }
  }

  .recent-post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .recent-post-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;

      .recent-post-img {
        width: 100px;
        height: 100px;

        img {
          width: 100%;
          border-radius: 6px;
        }
      }

      .recent-post-content {
        flex: 1;

        h4 {
          margin-bottom: 0;

          a {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #161b2d;
            @media #{$max-lg} {
              font-size: 16px;
              line-height: 20px;
            }
            @media #{$max-xs} {
              font-size: 16px;
              line-height: 20px;
            }
            &:hover {
              color: $theme-color;
            }
          }
        }

        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #505050;
        }
      }
    }
  }

  .tags {
    a {
      display: inline-block;
      padding: 15px 30px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1;
      color: #505050;
      background: rgba(#245d51, 0.05);
      border-radius: 6px;
      margin-bottom: 20px;
      margin-right: 20px;
      @media #{$max-laptop} {
        margin-right: 15px;
        margin-bottom: 15px;
        padding: 15px 20px;
      }
      @media #{$max-lg} {
        margin-right: 2px;
        padding: 15px 10px;
      }
      &:hover {
        color: $white;
        background: $theme-color-2;
      }
    }
  }
}

.blog-sidebar-wrap {
  .sidebar-widget-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 6px;
    background: #ffffff;
    margin-bottom: 50px;
    box-shadow: 5px 15px 30px 10px rgba(22, 27, 45, 0.03);
    @include mq(xl) {
      padding: 30px;
    }
    @include mq(xs) {
      padding: 30px 20px;
      margin-bottom: 40px;
      box-shadow: 5px 15px 30px 10px rgba(22, 27, 45, 0.1);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Course Details Section

.course-details-section {
  background: #f5f5f5;
}

.main-content-wrap {
  .course-header {
    .course-header-title {
      margin-bottom: 20px;

      h2 {
        font-weight: 700;
        font-size: 44px;
        line-height: 1.4;
        color: #161b2d;
        margin-bottom: 0;
        @media #{$max-laptop} {
          font-size: 32px;
        }
        @media #{$max-md} {
          font-size: 28px;
        }
      }
    }

    .ratting-wrap {
      display: flex;
      margin-bottom: 25px;
      gap: 15px 30px;
      @include mq(xs) {
        flex-direction: column;
      }

      .ratting {
        span {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #f2c94c;
        }

        i {
          background: #f2c94c;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          opacity: 0.4;

          &.active {
            opacity: 1;
          }
        }

        span {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #505050;
        }
      }

      .enroll {
        a {
          color: #245d51;

          i {
            margin-right: 7px;
          }
        }

        span {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #505050;
        }
      }

      .class {
        a {
          color: #245d51;

          i {
            margin-right: 7px;
          }
        }

        span {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #505050;
        }
      }
    }

    .course-header-text {
      margin-bottom: 20px;

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #505050;
      }
    }

    .course-header-img {
      margin-bottom: 20px;

      img {
        width: 100%;
        border-radius: 6px;
      }
    }
  }

  .course-decription-wrap {
    margin-top: 50px;

    .course-decription-title {
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #161b2d;
        margin-bottom: 0;
        padding-bottom: 10px;
      }

      .bar {
        width: 100%;
        max-width: 137px;
        height: 2px;
        background: #ff4e59;
      }
    }

    .course-decription-text {
      padding-top: 20px;

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #505050;
        max-width: 770px;
      }
    }
  }

  .overviews-wrap {
    margin-top: 50px;

    .overviews-title {
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #161b2d;
        margin-bottom: 0;
        padding-bottom: 10px;
      }

      .overview-bar {
        width: 100%;
        max-width: 171px;
        height: 2px;
        background: #ff4e59;
      }
    }

    .overview-layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 50px;
      @media #{$max-lg} {
        grid-template-columns: 1fr;
      }

      .overview-list {
        margin-top: 30px;
        display: flex;
        align-items: center;

        i {
          margin-right: 10px;
          color: #ff4e59;
        }

        p {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #161b2d;
          @include mq(xs) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .course-reviews-wrap {
    margin-top: 50px;

    .reviews-title {
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #161b2d;
        margin-bottom: 0;
        padding-bottom: 10px;
      }

      .overview-bar {
        width: 100%;
        max-width: 171px;
        height: 2px;
        background: #ff4e59;
      }
    }

    .review {
      margin-top: 30px;
      display: flex;
      gap: 25px;
      @include mq(xs) {
        flex-direction: column;
      }

      .review-img {
        max-width: 130px;
        width: 100%;

        img {
        }
      }

      .review-info {
        flex: 1;

        .name {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          h4 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #161b2d;
            margin-bottom: 0;
          }

          span {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #505050;
          }
        }

        .review-ratting {
          margin-bottom: 20px;

          i {
            background: #f2c94c;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            opacity: 0.4;

            &.active {
              opacity: 1;
            }
          }
        }

        .review-text {
          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #505050;
          }
        }
      }
    }
  }

  .course-reviews-btn-wrap {
    margin-top: 50px;

    a {
      display: inline-block;
      color: #ffffff;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      padding: 15px 30px;
      background: linear-gradient(0deg, #ff4e59, #ff4e59), #d9d9d9;
      border-radius: 6px;
    }
  }
}

// Instructor Details Section

.instructor-details-thumb-wrap {
  .instructor-details-thumb {
    margin-bottom: 30px;
    img {
      border-radius: 6px;
    }
  }

  .thumb-name {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #161b2d;
  }

  span {
    margin-top: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #245d51;
  }
}

.course-decription-wrap {
  .bar {
    width: 112px;
    height: 2px;
    display: inline-block;
    background: $theme-color;
  }
}

//skill__wrapper
.skill-wrapper {
  .skill-title,
  h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    span {
      color: $body-color;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .progress {
    background: rgba($body-color, 0.2);
    height: 4px;
    border-radius: 0;
  }
  .progress-bar {
    width: 80%;
    background-color: $theme-color;
  }
  .progress-bar-2 {
    width: 90%;
    background-color: $theme-color;
  }
  .progress-bar-3 {
    width: 85%;
    background-color: $theme-color;
  }
  .progress-bar-4 {
    width: 85%;
    background-color: $theme-color;
  }
}

.counter-style-two {
  .count-inner {
    display: flex;
    align-items: center;

    span,
    h3 {
      color: $heading-color;
      font-size: 36px;
      font-weight: 700;
      display: inline;
      margin-bottom: 0;
      @include mq(lg) {
        font-size: 28px;
      }
      @include mq(md) {
        font-size: 24px;
      }
      @include mq(xs) {
        font-size: 24px;
      }
    }
  }
  .divider {
    width: 50px;
    border: 3px dashed $theme-color;
    border-radius: 3px;
    margin: 12px 0 15px 0;
    display: inline-block;
  }
  .text {
    p {
      font-weight: 600;
    }
  }
}

.experiences-skills-wrap {
  margin-top: 30px;

  .experiences-skills-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #161b2d;
    margin-bottom: 0;
  }

  .experiences-skills-text {
    margin-top: 15px;

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #505050;
      max-width: 384px;
    }
  }
}

.meta-info-wrap {
  margin-top: 20px;

  .meta-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    .meta-info-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #161b2d;
      margin-bottom: 0;
    }

    .meta-info-desc {
      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #505050;

        i {
          color: #ff4e59;
          margin-right: 10px;
        }
      }
    }
  }
}

.widget-social-icon {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  padding-bottom: 40px;

  a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(#245d51, 0.1);

    i {
      color: #245d51;
    }

    &:hover {
      background: rgba(#245d51, 0.1);
    }
  }
}

.instructor-details-content {
  .course-description-wrap {
    .course-description-title {
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #161b2d;
        margin-bottom: 0;
        padding-bottom: 10px;
      }

      .bar {
        width: 100%;
        max-width: 112px;
        height: 2px;
        background: #ff4e59;
      }
    }

    .course-description-text {
      padding-top: 20px;

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #505050;
        max-width: 806px;
      }
    }
  }
}

// FAQ Details Section

.faq-btn {
  margin-top: 50px;

  a {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    padding: 15px 35px;
    background: linear-gradient(0deg, #ff4e59, #ff4e59), #d9d9d9;
    border-radius: 6px;
  }
}

// Contact Section

.map-section {
  iframe {
    width: 100%;
    height: 650px;
    @media #{$max-lg} {
      height: 500px;
    }
    @media #{$max-md} {
      height: 400px;
    }
  }
}

.video-section-2 {
  background: #f5f5f5;
}

.video-wrapper {
  .thumb {
    box-shadow: 5px 15px 45px rgba(22, 27, 45, 0.05);
    border-radius: 12px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.partner-section-3 {
  background: linear-gradient(0deg, #ff4e59, #ff4e59), #d9d9d9;
}
